<form action="/login" method="POST">
  <div class="form-group">
    <label for="key">Event Key</label>
    <input type="text" class="form-control" id="key" aria-describedby="keyhelp" placeholder="123456789" name="key">
    <small id="keyHelp" class="form-text text-muted">Enter the key you received for the event</small>
  </div>
  <div class="form-group">
    <label for="screenName">Your name</label>
    <input type="text" class="form-control" id="screenName" placeholder="Eric Frank" name="screen">
  </div>
  <div class="form-group">
    <label for="screenName">Your location (mandetory for supervisors)</label>
    <input type="text" class="form-control" id="screenName" placeholder="DRL A6" name="loc">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>